<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/OhuevshiyZmey/IdeaProjects/randomTesting">
        <classes>
            <class name="tests.integers.IntegerGeneratorTest"/>
            <class name="tests.essential.HomePageTest"/>
            <class name="tests.essential.NavigationTest"/>
            <class name="tests.lists_more.ListRandomizerTest"/>
            <class name="tests.lists_more.PasswordGeneratorTest"/>
        </classes>
    </test>
</suite>